RewriteEngine on

RewriteRule ^models/actions/?$ - [F,L]
RewriteRule ^models/?$ - [F,L]
RewriteRule ^models/?$ - [F,L]
RewriteRule ^models/?$ - [F,L]
RewriteRule ^models/?$ - [F,L]

RewriteRule ^config/?$ - [F,L]
RewriteRule ^assets/?$ - [F,L]