.text-justify{
    text-align: justify;
}
.margin-count{
    margin-top:1rem;
}
.large-font{
    font-size:10rem !important;
}

.img-resize{
    height: 15rem;
    object-fit: cover;
    object-position: center center;
}

.small-image{
    height:10rem;
    object-fit: cover;
    object-position: center center;
}